@charset "utf-8";

:root {
    --cor01: #001c4f;
    --cor02: #071328;
}

* {
    margin: 0px;
    padding: 0px;
}

/*GERAIS*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/*HEADER*/

header {
    display: flex;
    background-color: var(--cor02);
    height: 80px;
    justify-content: space-between;
}

.headerimg{
    display: flex;
    margin: 3px 0 3px 40px;
}

div.headerulpai{
    display: grid;
    align-items: center;
}

ul#headerul {
    display: grid;
    color: white;
    grid-auto-flow: column;
    justify-content: center;

}

li {
    list-style: none;
    justify-content: space-between;
}